
<div 
  class="not-prose hidden md:block"
>
  <img 
    src="/brad-starkey-XJBMznws7EY-unsplash.webp" 
    style="height: 26rem; width: 100%; object-fit: cover; object-position: bottom;"
  />
</div>
